In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
sys.path.append('..')
sys.path.append('../function')

import config as c
import function.func as f
import warnings

# Turn off warning
warnings.filterwarnings('ignore')

In [ ]:
df = f.load_weather_data('04')
df.head()

In [37]:
valid_stations = df.groupby('NUM_POSTE').apply(lambda x: round((x.isna().sum())*100/3652, 2))

In [ ]:
valid_station_list = valid_stations.loc[valid_stations['TN50'] <= 65].index

['04006400',
 '04019404',
 '04024001',
 '04024004',
 '04049001',
 '04076001',
 '04112009',
 '04193002',
 '04193400']

In [50]:
df = df[df['NUM_POSTE'].isin(valid_station_list)]

In [53]:
df.groupby('NUM_POSTE').apply(lambda x: round((x.isna().sum())*100/3652, 2))

           NUM_POSTE  NOM_USUEL  LAT  LON  ALTI  AAAAMMJJ     TN  TNSOL   TN50
NUM_POSTE
04006400         0.0        0.0  0.0  0.0   0.0       0.0   2.71  31.30  31.30
04019404         0.0        0.0  0.0  0.0   0.0       0.0   3.26  26.45  26.45
04024001         0.0        0.0  0.0  0.0   0.0       0.0  40.01  40.01  40.01
04024004         0.0        0.0  0.0  0.0   0.0       0.0   0.00   3.40   3.40
04049001         0.0        0.0  0.0  0.0   0.0       0.0   0.00   0.36   0.36
04076001         0.0        0.0  0.0  0.0   0.0       0.0  49.15  49.15  49.15
04112009         0.0        0.0  0.0  0.0   0.0       0.0   0.00   5.81   5.81
04193002         0.0        0.0  0.0  0.0   0.0       0.0   0.00  50.00  50.00
04193400         0.0        0.0  0.0  0.0   0.0       0.0   0.66  53.12  53.12