# Exercice

## Calculate the mean altitude per department

For some reason it is quite difficult to find the mean altitude of each department in France on the web. So let's compute it and check out which department is the highest on average.

For those who don't know, France is divided into several administrative levels, the main ones being:   

- Régions (13 + 5 overseas)
- Départements (96 + 5 overseas)
- Communes (about 35,000), which can be translated as "municipalities", "towns" or "cities".

## Instructions

- Go on the web and find a dataset that allows you to do this.
- Then use pandas to load the dataset and perform the necessary calculations.
- Verify that your results are the same than the file `mean_altitude_dept_output.csv` which is located in the same folder as this notebook. Results may vary slightly depending on the dataset you used, but the differences should be minimal.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("https://www.data.gouv.fr/api/1/datasets/r/f5df602b-3800-44d7-b2df-fa40a0350325",
                usecols = ['code_insee', 'dep_code', 'superficie_km2', 'altitude_moyenne'])

In [2]:
df = df.drop(columns = 'code_insee')

In [3]:
df['dep_code'] = df['dep_code'].astype(str).str.strip("'")

In [4]:
# Compute the mean altitude for each county
mean_altitude_by_county = round(df.groupby('dep_code')['altitude_moyenne'].mean(), 2)

In [5]:
for el in mean_altitude_by_county.items():
    print(el)

('01', 391.98)
('02', 123.09)
('03', 331.77)
('04', 955.75)
('05', 1329.9)
('06', 762.56)
('07', 541.45)
('08', 187.74)
('09', 706.23)
('10', 161.33)
('11', 351.29)
('12', 573.4)
('13', 176.27)
('14', 86.76)
('15', 827.58)
('16', 110.48)
('17', 39.14)
('18', 190.76)
('19', 458.93)
('21', 333.14)
('22', 118.16)
('23', 502.04)
('24', 158.55)
('25', 539.85)
('26', 504.15)
('27', 127.2)
('28', 159.5)
('29', 82.17)
('2A', 537.81)
('2B', 533.81)
('30', 219.43)
('31', 373.94)
('32', 178.62)
('33', 47.1)
('34', 211.7)
('35', 74.37)
('36', 174.09)
('37', 91.94)
('38', 598.35)
('39', 457.18)
('40', 70.33)
('41', 116.29)
('42', 553.65)
('43', 843.1)
('44', 33.44)
('45', 123.14)
('46', 283.49)
('47', 102.76)
('48', 985.97)
('49', 61.21)
('50', 76.96)
('51', 144.03)
('52', 325.64)
('53', 130.7)
('54', 282.86)
('55', 259.91)
('56', 72.29)
('57', 262.73)
('58', 271.02)
('59', 72.02)
('60', 113.24)
('61', 202.65)
('62', 86.66)
('63', 624.87)
('64', 270.44)
('65', 604.43)
('66', 679.02)
('67', 242.21)
('68', 389.64)
('69', 383.93)
('70', 293.32)
('71', 290.7)
('72', 100.9)
('73', 954.53)
('74', 811.86)
('75', 35.0)
('76', 118.15)
('77', 106.49)
('78', 115.0)
('79', 117.61)
('80', 93.91)
('81', 323.16)
('82', 153.51)
('83', 358.8)
('84', 304.75)
('85', 54.91)
('86', 117.24)
('87', 341.13)
('88', 406.96)
('89', 196.75)
('90', 417.59)
('91', 105.49)
('92', 77.56)
('93', 63.12)
('94', 66.85)
('95', 96.09)
('971', 171.72)
('972', 203.97)
('973', 74.23)
('974', 804.33)
('976', 118.88)